html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.index {
  grid-template-areas:
    "header"
    "nav"
    "mainLanding"
    "footer"
}



.header {
  grid-area: header;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;

  &__lockup {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
    &__logo {
      position: relative;
      left: 0%;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #00c3a899;
      border-radius: 50%;
      width: 7rem;
      height: 7rem;
      margin-right: 1rem;
    }
    &__title {
      margin: auto;
    }
  }

}

@media only screen and (max-width: 510px) {
  .header__logo, .footer__logo {
    width: 4rem;
    height: 4rem;
  }
}
@media only screen and (max-width: 460px) {
  .header, .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &__lockup {
      flex-direction: column;
      &__logo {
        width: 7rem;
        height: 7rem;
      }
    }

  }
}
// ~~~~~NAV~~~~~
nav {
  width: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  border: 2px solid blue;
}

.nav-pills {
  width: 100%;
}

nav a, nav button {
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  border-top: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-radius: 10px;
  margin: 1rem;
}

#homeIcon {
  // position: relative;
  // left: 1rem;
  // top: .9rem;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00c3a899;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border: none;
}

@media only screen and (max-width: 474px) {
  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav-item a {
    text-align: center;
    width: 95%;
    margin: .5rem;
  }
}


.main {
grid-area: mainLanding;
}

// ~~~~~~~~~~OVERIDE BOOTSTRAP DEFAULT JUMOBTRON STYLING~~~~~~~~~~
.jumbotron {
  background: transparent !important;
  margin-bottom: 3rem !important;
  padding: 0rem !important;
}

.jumbotron .jumbotron-fluid {
    padding: 0rem !important;
}

.jumbotron .container {
  padding: 3rem;
  border-bottom: 40px solid #00c3a899;
  border-left: 40px solid #4b00c399;
  background: #f2f2f2;
  border-radius: 0% 2rem 0% 0% / 0% 2rem 0% 0%;
}

.jt1 p{
margin-top: 1rem;
text-align: center;
}

.jt1 a, .twitter-hashtag-button, .fab {
  color: #339af0;
  display: block;
  margin: auto;
  text-align: center;
}

.letsGo-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  margin-bottom: -4rem;
}

.letsGo-button button {
  height: 4rem;
  width: 10rem;
}

section {
  background-image: url('../img/thom-milkovic-skUTVJi8-jc-unsplash_bg.jpg');
  background-size: cover;
  position: relative;
  background-color: teal;
  position: relative;
  border: 1px solid orange;

  & #aboutContainer {
    width: 90%;
    margin: 1.5rem;
    justify-content: flex-start;
    border: 1px solid magenta;
  }
}

.about__textbox {
  color: white;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid white;
  // margin-right: auto;

  }

  section img {
    margin: 1rem;
    border-radius: 5%;
  }

  @media only screen and (max-width: 575px) {
    section {
      padding: .25rem;
    }

    section col {
      padding: 0;
    }
    section img {
      visibility: hidden;
    }

    #aboutContainer {
      padding: 0rem;
      justify-content: center;
    }
    .about__textbox {
      width: 100%;
      color: red;
      margin: 0;
    }

  }


.footer {
  grid-area: footer;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;

  &__lockup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
    &__logo {
      position: relative;
      left: 0%;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #00c3a899;
      border-radius: 50%;
      width: 7rem;
      height: 7rem;
      margin-right: 1rem;
    }
    &__title {
      margin: auto;
    }
  }
}
