html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.index {
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer"
}



.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid red;
  &__logo {
    position: relative;
    left: 0%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
  }

}

.jumbotron {
  margin-top: 2rem;
  border-bottom: 40px solid #00c3a899;
  border-left: 40px solid #4b00c399;
}

.container-fluid.jt2 {
    margin-bottom: 9vh;
}


.letsGo-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  margin-bottom: -4rem;
}

.letsGo-button button {
  height: 4rem;
  width: 10rem;
}
//
// .jt1:before {
//   background-color: #c800b0;
//   position: absolute;
//   opacity: .2;
//   top: 0px;
//   left: 0%;
//   content: '';
//   width: 100%;
//   height: 100%;
//   border-left: 50px solid transparent;
//   border-top: 500px solid teal;
//
// }

@media (min-width: 576px) {
div.jumbotron.jumbotron-fluid {
    padding: 4rem 2rem 2rem;
  }
}
.main {
  margin-top: 1rem;
  grid-area: main;
}
