// ==========DEV NOTES==========
// Add Lorem text and images

*,
*:after,
*:before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

a,
h1,
h2 {
  font-family: $font-fam;
  font-size: 2rem;
  font-weight: 400;
  color: $white;
  text-decoration: none;
}

body {
  display: grid;
  height: 100vh;
  // grid-template-rows: repeat(28, 1fr);
  // grid-template-columns: repeat(10, 1fr);
  grid-template-areas:
  "header header header header"
  "header header header header"
  "nav nav nav nav"
  "main main main main"
  "footer footer footer footer";
}

header {
  border: 2px solid $red;
  background-color: $red;
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  border: 2px solid $green;
  background-color: $green;
  grid-area: nav;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: row;

  & * {
    padding: 1rem;
    color: white;
  }

  &__sidebar {
    border: 2px solid $purple;
    background-color: $purple;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    align-items: center;

    & img {
      border-radius: 50%;
      width: 100%;
    }
    & h2 {
    }
  }

  &__content {
    border: 2px solid $orange;
    background-color: $orange;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    & img {
      width: 100%;
    }
  }
}

footer {
  border: 2px solid $blue;
  background-color: $blue;
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}
// ==========MEDIA QUERIES==========
//MOBILE
@media screen and (max-width: 299px) {
  header {
    // background-color: lightblue;
  }

  .main {
    flex-direction: column-reverse;

    &__sidebar {
      width: 100%;
    }

    &__content {
      width: 100%;
    }
  }

  nav {
    flex-direction: column;

    & a {
      font-size: 1rem;
    }
  }

  h2 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 399px) and (min-width: 300px) {
  header {
    // background-color: teal;
  }

  .main {
    flex-direction: column-reverse;

    &__sidebar {
      width: 100%;
    }

    &__content {
      width: 100%;
    }
  }

  nav {
    flex-direction: column;
  }

  nav a {
    font-size: 1rem;
  }

  h2 {
    font-size: 2rem;
  }
}
//TABLET
@media only screen and (max-width: 600px) and (min-width: 400px) {
  header {
    // background-color: black;
  }

  nav a {
    font-size: 1rem;
  }

  .main {
    flex-direction: column-reverse;

    &__sidebar {
      width: 100%;
    }

    &__content {
      width: 100%;
    }
  }
}

//DESKTOP
@media only screen and (max-width: 900px) and (min-width: 601px) {
  header {
    // background-color: grey;
  }

  nav a {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 901px) {
  header {
    // background-color: $red;
  }

  h1,
  h2,
  nav a {
    font-size: 2rem;
  }
}
