//Colors
$black: #000;
$white: #fff;
$grey: #808080;
$stormblue: rgba(0, 51, 74, 1);
$stormviolet: rgba(94, 102, 174, 1);
$cyan: rgba(0, 255, 235, 1);

//**add to color list
// rain stem colors 
// background gradient colors
