* {
  box-sizing: border-box;
  text-align: center;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
  overflow: hidden;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,51,74,1) 150%);
}

/* ==========PRELOADER========== */
.preloader {
  display: flex;
  position: fixed;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,51,74,1) 150%);
  height: 100vh;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  /* add a delay here to see animation */
  transition: opacity 0.3s linear;
  width: 100%;
  z-index: 9999;
}

.circle {
  position: relative;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  background: red;
  margin: .8rem;
  animation: bounceyPreload 1.2s ease-in-out infinite;
  }
/* SASS not connected? &: sudo syntax not working */
  .circle:nth-of-type(1) {
    animation-delay: 0;
  }
  .circle:nth-of-type(2) {
    animation-delay: 150ms;
  }
  .circle:nth-of-type(3) {
    animation-delay: 300ms;
  }
  .circle:nth-of-type(4) {
    animation-delay: 450ms;
  }



@keyframes bounceyPreload {
  0% {
    bottom: 0;
    background-color: red;
  }
  15% {
    background-color: orange;
  }
  20% {
    bottom: -1rem;
  }
  30% {
    background-color: yellow;
  }
  40% {
    bottom: 5rem;
  }
  45% {
    background-color: green;
  }
  60% {
    background-color: blue;
  }
  75% {
    background-color: purple;
  }
  85% {
    background-color: purple;
  }
  100% {
    bottom: 0;
    background-color: red;
  }
}

/* ==========BODY========== */
header {
  height: 20vh;
  border: 2px solid red;
  background-color: navy;
  position: relative;
  z-index: 1;
}

.main {
  height: 65vh;
  width: 100%;
  margin: auto;
  position: relative;
  z-index: 1;
  border: 2px solid magenta;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* =============CORE RAIN ANIMATION============= */
.drop {
  position: absolute;
  bottom: 100%;
  width: 15px;
  height: 120px;
  pointer-events: none;
  animation: drop .6s linear infinite;
}

@keyframes drop {
  0% {
    transform: translateY(0vh);
    /* transform: translateX(1vw); */

  }

  100% {
    transform: translateY(100vh);
    /* transform: translateX(100vw); */
  }
}

.stem {
  width: 2px;
  height: 60%;
  transform: rotate(15deg);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
  animation: stem .6s linear infinite;
}

@keyframes stem {
  0% {
    opacity: 1;
  }
  65% {
    opacity: .75;
    background: grey;
  }
  70% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}
/* =============RAIN ANIMATION END============= */

.main__map {
  width: 400px;
  height: 100px;
  border: 2px solid green;
  background-color: green;
  z-index: 1;
}

.rainContainer {
  position: absolute;
  height: 65vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rainElement {
  position: relative;
  display: block;
  width: 100%;
  height: 65vh;
  opacity: .5;
  border: 2px dotted green;
}

 .backRain {
  position: absolute;
  display: block;
  width: 90%;
  height: 65vh;
  bottom: 20vh;
  /* right: 2vw; */
  /* border: 2px dotted yellow; */
  opacity: .25;
}

.main__list {
  width: 100px;
  height: 100px;
  border: 2px solid purple;
}

footer {
  height: 15vh;
  position: relative;
  z-index: 1;
  border: 2px solid blue;
  background-color: darkgreen;
}
